<html ng-app="demoApp">
<head>
	<!-- build:css app1.css -->
	<link rel="stylesheet" type="text/css" href="libs/css1.css" />
	<!-- endbuild -->

	<!-- build:js app1.js -->
	<script src="libs/bower_components/angular/angular.js"></script>
	<script src="libs/bower_components/jquery/jquery.js"></script>
	<script src="libs/bower_components/angular-animate/angular-animate.js"></script>
	<script src="libs/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="libs/bower_components/angular-leaflet-directive/angular-leaflet-directive.js"></script>
	<script src="libs/bower_components/angular-loading-bar/loading-bar.js"></script>
	<script src="libs/bower_components/angular-route/angular-route.js"></script>
	<script src="libs/bower_components/angular-touch/angular-touch.js"></script>
	<script src="libs/bower_components/angular-ui/angular-ui.js"></script>
	<script src="libs/bower_components/angular-ui-select2/select2.js"></script>
	<script src="libs/bower_components/blueimp-load-image/load-image.js"></script>
	<script src="libs/bower_components/bootstrap/bootstrap.js"></script>
	<script src="libs/bower_components/jquery-scrollintoview/jquery.scrollintoview.js"></script>
	<script src="libs/bower_components/jquery-ui/jquery-ui.js"></script>
	<script src="libs/bower_components/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
	<script src="libs/bower_components/jquery-waypoints/waypoints.js"></script>
	<script src="libs/bower_components/leaflet/leaflet.js"></script>
	<script src="libs/bower_components/Leaflet.awesome-markers/leaflet.awesome-markers.js"></script>
	<script src="libs/bower_components/Leaflet.GeometryUtil/leaflet.geometryutil.js"></script>
	<script src="libs/bower_components/Leaflet.MultiOptionsPolyline/Leaflet.MultiOptionsPolyline.js"></script>
	<script src="libs/bower_components/medium-editor/medium-editor.js"></script>
	<script src="libs/bower_components/moment/moment.js"></script>
	<script src="libs/bower_components/noty/jquery.noty.js"></script>
	<script src="libs/bower_components/purl/purl.js"></script>
	<script src="libs/bower_components/qtip2/jquery.qtip.js"></script>
	<script src="libs/bower_components/select2/select2.js"></script>
	<script src="libs/bower_components/underscore/underscore.js"></script>

	<script type="text/javascript" src="libs/js1.js"></script>
	<script type="text/javascript" src="libs/angular-app.js"></script>
	<!-- endbuild -->



</head>
<body>
<div class="css1" style="display:none;">
	CSS1 loaded
</div>
<div class="css2" style="display:none;">
	CSS2 loaded
</div>

<div ng-controller="MainCtrl">
	AngularJs app is: {{test}}
</div>

</body>
</html>